*{
    margin: 0;
    padding: 0;
}
#box1{
    margin: 10px 20px;
    padding: 100px 100px;
}
#box2{
      margin: 10px 20px;
    padding: 100px 100px;
}
#box3{
      margin: 10px 20px;
    padding: 100px 100px;
}
#box4{
      margin: 10px 20px;
    padding: 100px 100px;
}